:root {
    --vermelho: #e50914;
    --preto: #141414;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ELEMENTOS BASE */

body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: #fff;

}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

.container .logo i {
    font-size: 25pt;
}

header nav a {
    text-decoration: none;
    margin-right: 10px;
    color: #AAA;
}

header nav a:hover {
    color: #fff;
}


/* FILME PRINCIPAL */
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/capa3.png');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}


.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.porcentagem {
    color: rgb(16, 247, 16);
    font-weight: bold;
    margin-right: 8px;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filme-principal .titulo2 {
   
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.botoes {
    margin-top: 15px;
}


.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    padding: 15px 30px;
    color: #fff;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
    margin-left: 10px;
    text-decoration: none;
}

.botao:hover {
  color: rgba(0,0,0);
    background-color: #fff;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 5px;
}



/*------------------------SAIBA MAIS --------------------*/
.titulo12 {
    background-color:rgb(253, 229, 9);
    color: #000;
    font-weight: bold;
    margin: 2px;
    padding: 2px;
    width: min-content;
    margin:auto;

}


.containerSaibaMais {
    position: relative;
    text-align: center;
}

.containerSaibaMais .items {
    margin-bottom: 20px;
}


/* ---------------- INICIO ---------------*/

.user .container {
    
    display: flex;
    justify-content: center;
   margin-top: 50px;
    
}

.item {
    text-align: center;
    width: 250px;
}
.user .container img {
    width: 100px;
    height: 100px;
    margin-top: 34px;
    border-radius: 10px;
    cursor: pointer;
    
}

.user .container img:hover {

    height: 250px;
    width: 250px;
}

#quem {
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}


.user .container a {
    text-decoration: none;
    color: #fff;
}

